@using CloudyWing.MoneyTrack.Models.Application
@{ 
    IEnumerable<MenuViewModel> menus = GetBreadcrumbItems(MenuViewModel.Instance);
    MenuViewModel lastMenu = menus.LastOrDefault();
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @foreach (MenuViewModel menu in menus) {
            bool isLast = menu == lastMenu;
            <li class="breadcrumb-item@(isLast ? " active" : "")" aria-current="@(isLast ? "page" : null)">@menu.Title</li>
        }
    </ol>
</nav>

@functions {
    private IEnumerable<MenuViewModel> GetBreadcrumbItems(MenuViewModel menu) {
        string areaName = ViewContext.RouteData.DataTokens["area"]?.ToString();
        string controllerName = ViewContext.RouteData.Values["controller"]?.ToString();
        string actionName = ViewContext.RouteData.Values["action"]?.ToString() ?? "Index";

        if (menu.ChildMenus != null) {
            foreach (MenuViewModel childMenu in menu.ChildMenus) {
                if (childMenu.IsMatch(areaName, controllerName, actionName)) {
                    yield return childMenu;
                    yield break;
                }

                IEnumerable<MenuViewModel> descendantMenus = GetBreadcrumbItems(childMenu);
                if (descendantMenus.Any()) {
                    yield return childMenu;

                    foreach (MenuViewModel descendantMenu in descendantMenus) {
                        yield return descendantMenu;
                    }
                    yield break;
                }
            }
        }
    }
}